# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
.venv
conf_script/

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Data
data/
models/
*.db
*.sqlite

# Temp files
temp/
tmp/
screenshots/